[axiscope]
pin: !PC15                # Endstop pin
zswitch_x_pos: 106.72     # REQUIRED - X position of the endstop switch
zswitch_y_pos: 81.690     # REQUIRED - Y position of the endstop switch
zswitch_z_pos: 23        # REQUIRED - Z position + some clearance of the endstop switch
lift_z: 1                 # OPTIONAL - Amount to lift Z before moving (default: 1)
move_speed: 50            # OPTIONAL - XY movement speed in mm/s (default: 60)
z_move_speed: 5          # OPTIONAL - Z movement speed in mm/s (default: 10)
#start_gcode: 
#  {% set tools = printer.toolchanger.tool_numbers %}
#  {% for tool in tools %}
#      M104 T{tool} S150
#  {% endfor %}
start_gcode: 
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S150
      TEMPERATURE_WAIT SENSOR="extruder{tool if tool > 0 else ''}" MINIMUM=140
  {% endfor %}
before_pickup_gcode: M118 pickup_gcode
after_pickup_gcode: M118 after_pickup_gcode
                    # NOZZLE_SCRUBBER_W
finish_gcode: M118 Calibration complete
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S0
  {% endfor %}
  T0